.summ {
  background-color: #9747ff;
  background-color: #9a56f3f7;
  background-color: #f08143;
}

.color-title {
  text-align: left;
  font-size: 37px;
  background: linear-gradient(to bottom right, #ff7b2f 0%, #8731f7 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 500;
}
